<a href="https://colab.research.google.com/github/salsaadityani/k-nearest-neighbor/blob/main/k-nearest-neighbor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

data = pd.read_csv('Diabetes.csv')

In [ ]:
#print(data.info())

In [ ]:
def emptyCheck(data):
  newData = data.dropna(axis=0, how='any')
  print("Panjang dataframe :", len(data))
  print("Panjang dataframe empty value :", len(newData))
  print("Jumlah baris setidaknya ada 1 empty value : ", (len(data)-len(newData)))

  return newData

In [ ]:
emptyCheck(data)

Panjang dataframe : 768
Panjang dataframe empty value : 768
Jumlah baris setidaknya ada 1 empty value :  0

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [ ]:
#from sklearn.preprocessing import StandardScaler #standardisasi
from sklearn.preprocessing import MinMaxScaler #normalisasi

def scale(data):
  #ss = StandardScaler()
  #ss.fit(data)
  #datascale = ss.transform(data)

  ss = MinMaxScaler(feature_range=(0, 1))
  datascale = ss.fit_transform(data)

  dataa = pd.DataFrame(datascale)
  dataa = dataa.rename(columns={0:'Pregnancies',1:'Glucose',2:'BloodPressure',3:'SkinThickness',4:'Insulin',5:'BMI',6:'DiabetesPedigreeFunction',7:'Age',8:'Outcome'})

  print('data = ', dataa)
  return dataa

In [ ]:
dataa = scale(data)

data =       Pregnancies   Glucose  ...       Age  Outcome
0       0.352941  0.743719  ...  0.483333      1.0
1       0.058824  0.427136  ...  0.166667      0.0
2       0.470588  0.919598  ...  0.183333      1.0
3       0.058824  0.447236  ...  0.000000      0.0
4       0.000000  0.688442  ...  0.200000      1.0
..           ...       ...  ...       ...      ...
763     0.588235  0.507538  ...  0.700000      0.0
764     0.117647  0.613065  ...  0.100000      0.0
765     0.294118  0.608040  ...  0.150000      0.0
766     0.058824  0.633166  ...  0.433333      1.0
767     0.058824  0.467337  ...  0.033333      0.0

[768 rows x 9 columns]

In [ ]:
#Baris ke-1 sampai baris ke-614 sebagai training set dan sisanya sebagai testing set;
datatrain1 = dataa.iloc[0:613]
datatest1 = dataa.iloc[614:767]
print('Panjang data train 1 :',len(datatrain1))
print('Panjang data test 1 :',len(datatest1))
print()

#Baris ke-1 sampai baris ke-461 ditambah baris ke-615 sampai 768 sebagai training set dan yang lain sebagai testing set;
datatrain21 = dataa.iloc[0:460]
datatrain22 = dataa.iloc[614:767]
datatrain2 = pd.concat([datatrain21, datatrain22])
datatest2 = dataa.iloc[461:640]
print('Panjang data train 2 :',len(datatrain2))
print('Panjang data test 2 :',len(datatest2))
print()

#Baris ke-1 sampai baris ke-307 ditambah baris ke-462 sampai 768 sebagai training set dan yang lain sebagai testing set;
datatrain31 = dataa.iloc[0:306]
datatrain32 = dataa.iloc[461:767]
datatrain3 = pd.concat([datatrain31, datatrain32])
datatest3 = dataa.iloc[307:460]
print('Panjang data train 3 :',len(datatrain3))
print('Panjang data test 3 :',len(datatest3))
print()

#Baris ke-1 sampai baris ke-154 ditambah baris ke-308 sampai 768 sebagai training set dan yang lain sebagai testing set; dan
datatrain41 = dataa.iloc[0:153]
datatrain42 = dataa.iloc[307:767]
datatrain4 = pd.concat([datatrain41, datatrain42])
datatest4 = dataa.iloc[154:306]
print('Panjang data train 4 :',len(datatrain4))
print('Panjang data test 4 :',len(datatest4))
print()

#Baris ke-155 sampai sampai 768 sebagai training set dan yang lain sebagai testing set.
datatrain5 = dataa.iloc[154:767]
datatest5 = dataa.iloc[0:153]
print('Panjang data train 5 :',len(datatrain5))
print('Panjang data test 5 :',len(datatest5))
print()

Panjang data train 1 : 613
Panjang data test 1 : 153

Panjang data train 2 : 613
Panjang data test 2 : 179

Panjang data train 3 : 612
Panjang data test 3 : 153

Panjang data train 4 : 613
Panjang data test 4 : 152

Panjang data train 5 : 613
Panjang data test 5 : 153

In [ ]:
import math

def euclidean(train, test):
  x1 = train[0] - test[0]
  x2 = train[1] - test[1]
  x3 = train[2] - test[2]
  x4 = train[3] - test[3]
  x5 = train[4] - test[4]

  x1x2 = np.hypot(x1,x2)
  x3x4 = np.hypot(x3,x4)
  a = np.hypot(x1x2,x3x4)

  return np.hypot(a,x5)

  #distance = 0
  #for x in range(length):
    #distance += pow((train[x] - test[x]), 2)
    #distance += np.sum(np.square(train[x] - test[x]))

  #return math.sqrt(distance)

In [ ]:
def getNeighbors(train, test):
  neighbors = []
  temp = []
  #length = len(test)-1

  for i in range(0,len(test)):
    for j in range(0,len(train)):
      temp.append([euclidean(train[j], test[i]), train[j][8]])
    neighbors.append(temp)
    temp = []

  #return neighbors

  #distances = []
  #length = len(test)-1
  #for x in range(len(train)):
  #  dist = euclidean(train[x], test, length)
  #  distances.append((train[x], dist))
  #distances.sort(key=operator.itemgetter(1))
  #neighbors = []
  #for x in range(k):
  #  neighbors.append(distances[x][0])

  return neighbors

In [ ]:
def getKNN(neighbors, k):
  temp = []
  knn = []

  def IndexSort(data):
    return data[0]

  for i in range(len(neighbors)):
    neighbors[i].sort(key = IndexSort)

  for i in range(len(neighbors)):
    for j in range(0,k):
      temp.append(neighbors[i][j])
    knn.append(temp)
    temp = []

  return knn

In [ ]:
from collections import Counter

def prediksi(train,test,k):
  jarak = getNeighbors(train,test)
  neighbors1 = getKNN(jarak,k)

  neighbors2 = []
  temp = []
  for i in range(len(neighbors1)):
    for j in range(len(neighbors1[i])):
      temp.append(neighbors1[i][j][1])
    neighbors2.append(temp)
    temp = []

  hasil = []
  for i in range(len(neighbors2)):
    data = Counter(neighbors2[i])
    hasil.append(data.most_common(1)[0][0])

  return hasil

In [ ]:
def getAccuracy(test, prediction):
  testSet = test['Outcome'].values.tolist()
  correct = 0
  for x in range(len(prediction)):
    if testSet[x] == prediction[x]:
      correct += 1

  return (correct/float(len(testSet))) * 100.0

In [ ]:
def splitValidation(train,test):
    data1 = train.to_numpy()
    data2 = test.to_numpy()

    k = []
    for i in range(len(data2)):
        k.append((getAccuracy(test,prediksi(data1,data2,i+1))))

    return [k.index(max(k)), max(k)]

In [ ]:
CrossVal = splitValidation(datatrain1,datatest1)
print("Dataset 1")
print("K :",CrossVal[0])
print("Accuracy :", CrossVal[1])

CrossVal = splitValidation(datatrain2,datatest2)
print("Dataset 2")
print("K :",CrossVal[0])
print("Accuracy :", CrossVal[1])

CrossVal = splitValidation(datatrain3,datatest3)
print("Dataset 3")
print("K :",CrossVal[0])
print("Accuracy :", CrossVal[1])

CrossVal = splitValidation(datatrain4,datatest4)
print("Dataset 4")
print("K : ",CrossVal[0])
print("Accuracy :", CrossVal[1])

CrossVal = splitValidation(datatrain5,datatest5)
print("Dataset 5")
print("K :",CrossVal[0])
print("Accuracy :", CrossVal[1])

Dataset 1
K : 27
Accuracy : 75.81699346405229
Dataset 2
K : 18
Accuracy : 83.79888268156425
Dataset 3
K : 59
Accuracy : 75.81699346405229
Dataset 4
K :  2
Accuracy : 68.42105263157895
Dataset 5
K : 7
Accuracy : 78.43137254901961